/* Write your code here. */

body {
  margin: 0px;
}
.bg-cont {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
}
.heading {
  font-family: "Bree Serif";
  color: #ffffff;
}
.bg-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  background-color: #eab308;
  height: 35px;
  width: 55px;
  border-radius: 5px;
  color: #ffffff;
  margin: 5px;
  font-family: "Roboto";
}

.button2 {
  background-color: #ffffff;
  height: 35px;
  width: 85px;
  border-radius: 5px;
  color: #323f4b;
  margin: 5px;
  font-family: "Roboto";
}

.button3 {
  background-color: #1d4ed8;
  height: 35px;
  width: 55px;
  border-radius: 5px;
  color: #ffffff;
  margin: 5px;
  font-family: "Roboto";
}
.buttonCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .buttonCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
